<div class="columns is-2-desktop">
    <main class="column">
        <app-country-card [details]="country$ | async"></app-country-card>
    </main>
    <aside class="column">
        <p>Time</p>
        <div>
            <span>5:16:32 AM</span>
            <span>Tue, Jan 5, 2021</span>
        </div>
        <p>Neighbors</p>
        <div class="columns is-multiline">
            <div *ngFor="let c of neighbors$ | async" app-country-thumb [details]="c"
                 [routerLink]="['/details/' + c?.code]" class="column" style="max-width: 100px">
            </div>
        </div>
    </aside>
</div>
