<div class="columns is-2-desktop">
    <main class="column">
        <app-country-card></app-country-card>
    </main>
    <aside class="column">
        <p>Time</p>
        <div>
            <span>5:16:32 AM</span>
            <span>Tue, Jan 5, 2021</span>
        </div>
        <p>Neighbors</p>
        <div class="columns is-multiline">
            <div app-country-thumb class="column" style="max-width: 100px"></div>
            <div app-country-thumb class="column" style="max-width: 100px"></div>
            <div app-country-thumb class="column" style="max-width: 100px"></div>
            <div app-country-thumb class="column" style="max-width: 100px"></div>
            <div app-country-thumb class="column" style="max-width: 100px"></div>
            <div app-country-thumb class="column" style="max-width: 100px"></div>
        </div>
    </aside>
</div>
