<div class="columns is-2-desktop">
    <main class="column">
        <app-country-card [details]="country$ | async"></app-country-card>
    </main>
    <aside class="column">
        <p><b>Time in {{(country$ | async)?.name}}</b></p>
        <div>
            <p style="font-family: 'Orbitron', sans-serif; font-size: 4em;">
                {{countryTime$ | async | date:'mediumTime'}}</p>
            <p>{{countryDate$ | async | date:'fullDate'}}</p>
        </div>
        <iframe *ngIf="mapUrl != null" style="width: 100%; min-height: 300px; margin-bottom: 1em"
                [src]="mapUrl">
        </iframe>
        <p>Neighbors</p>
        <div class="columns is-multiline">
            <div *ngFor="let c of neighbors$ | async" app-country-thumb [details]="c"
                 [routerLink]="['/details/' + c?.code]" class="column" style="max-width: 100px">
            </div>
        </div>
    </aside>
</div>
