<app-search-filter></app-search-filter>

<aside>
    <!-- <swiper [config]="swiperConfig">
        <ng-template swiperSlide>
            <app-country-thumb></app-country-thumb>
        </ng-template>
    </swiper> -->
</aside>

<main class="columns is-multiline is-3-desktop">
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
</main>

<app-pagination></app-pagination>