<app-search-filter></app-search-filter>

<aside class="columns">
    <div class="column visited-countries is-three-quarters-desktop">
        <swiper [config]="swiperConfig">
            <ng-template swiperSlide>
                <div app-country-thumb></div>
            </ng-template>
            <ng-template swiperSlide>
                <div app-country-thumb></div>
            </ng-template>
            <ng-template swiperSlide>
                <div app-country-thumb></div>
            </ng-template>
            <ng-template swiperSlide>
                <div app-country-thumb></div>
            </ng-template>
            <ng-template swiperSlide>
                <div app-country-thumb></div>
            </ng-template>
            <ng-template swiperSlide>
                <div app-country-thumb></div>
            </ng-template>
            <ng-template swiperSlide>
                <div app-country-thumb></div>
            </ng-template>
        </swiper>
    </div>
    <div class="column is-one-quarter-desktop is-one-third-tablet">
        <img src="/assets/images/drag-left.svg" class="drag-icon" alt="Drag Left">
    </div>
</aside>

<main class="columns is-multiline is-3-desktop">
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
    <div class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card></app-country-card>
    </div>
</main>

<app-pagination></app-pagination>
