<app-search-filter (searchTermEntered)="filterListBySearch($event)"
                   (regionFilterSet)="filterListByRegion($event)">
</app-search-filter>

<app-history></app-history>

<main class="columns is-multiline is-3-desktop">
    <div *ngFor="let country of subsetOfCountries$ | async"
         class="column is-half-tablet is-one-quarter-desktop">
        <app-country-card [details]="country"></app-country-card>
    </div>
</main>

<app-pagination [array]="filteredCountries$ | async" (pagedItems)="pagedItems($event)">
</app-pagination>
