<article class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="https://flagcdn.com/ba.svg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <header class="media">
            <div class="media-left">
                <figure class="image is-24x24   ">
                    <img src="https://mainfacts.com/media/images/coats_of_arms/ba.svg"
                         alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <h1><a [routerLink]="['/details']" class="title is-4">Bosnia and Herzegovina</a>
                </h1>
                <p class="subtitle is-6">@johnsmith</p>
            </div>
        </header>

        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
</article>
