<div class="level">
    <div class="level-left">
        <div class="control has-icons-left">
            <input class="input is-medium" type="text" placeholder="Search"
                   (input)="inputChanged($event)">
            <svg class="icon is-left svg-icon">
                <use xlink:href="#magnify"></use>
            </svg>
        </div>
    </div>

    <div class="level-right">
        <div class="dropdown" [class.is-active]="isShowDropdown" (click)="toggleDropdown()">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Filter by region</span>
                    <span class="svg-icon is-small">
                        <svg class="svg-icon">
                            <use xlink:href="#chevron-down"></use>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" (click)="filterByRegion('')">
                        None
                    </a>
                    <a *ngFor="let region of countryRegions$ | async" class="dropdown-item"
                       (click)="filterByRegion(region)">
                        {{region}}
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
