@import "node_modules/swiper/swiper.scss";
// using encapsulation: ViewEncapsulation.None

:root {
    --film: #f7f7f7;
}

.columns {
    margin-top: 1em;
    margin-bottom: 4em;

    .drag-icon {
        max-width: 150px;
        width: 100%;
    }

    .visited-countries {
        background-clip: content-box;
    }

    .min-height {
        height: min-content;
    }

    .finger {
        text-align: center;
        padding: 2em 0;

        strong {
            font-size: 1em;
        }
    }
}