@import "@bulvar/bulma/bulma.sass";

.card {
    box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
        0 0px 0 1px rgba($scheme-invert, 0.02);
}

.svg-icon {
    display: inline !important;
    width: 1.5rem; // 24px
    height: 1.5rem; // 24px
    stroke-width: 0;
    vertical-align: middle !important;
    stroke: currentColor;
    fill: currentColor;
}

.visited-country {
    box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.2),
        0 0px 0 1px rgba($scheme-invert, 0.1);
}

/* modify bulma */
.navbar {
    margin-bottom: 1em;
}

.navbar-item {
    padding-left: 0;
    padding-right: 0;
}